*{
    margin: 0;
    padding: 0px;
    margin-bottom: 20px;
}
#article-container{
    width: 1000px;
    margin: 0 auto;
}
#blog-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}
.single-image{
    height: 300px;
}
.single-image img{
    height: 100%;
    width: 100%;
}
.my-blog{
    color: green;
    font-size:30px ;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;

}.my-blog span{
    color: red;
}
.single-blog{
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 5px;
}
.single-text{
    padding: 20px 30px;
}
.single-text span{
    color: red;
}
.single-text h3{
    font-size: 22px;
    margin: 20px 0px;
}
.single-text a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}
