*{
    margin: 0;
    padding: 0;
}

/* navigation bar code start */
nav{

    display: flex;
    justify-content: space-between;
    background-color: #1A1244;
    padding: 10px 150px;
    border-bottom: 4px solid #401E63;
    
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: 1s;
}
nav div{
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
/* hero area search code start */

header{
    background-image: url(image/360_F_268488616_wcoB2JnGbOD2u3bpn2GPmu0KJQ4Ah66T.jpg);
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-1 i{
    color: red;
    background-color: green;
    font-size: 25 px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.search-1 input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
}
/* main tag latest video code start */
main{
    background-color: #2D236A;
}
#main-section{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0px;
}
.video{
    display: flex;
    justify-content: space-between;
}
.latest{
    font-size: 20px;
    color: #04AA6D;
    font-weight: bold;
}
.page{
    color: #04AA6D;
}
.page span{
    color: red;
    background-color:black;
    border:1px solid white ;
    margin: 0px 10px;

    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}